.input-wrapper {
	width: calc(100% - 180px);
	& > input {
		width: 100% !important;
	}
	.error-text {
		width: 100% !important;
		margin-top: 5px;
		font-size: 14px;
		color: red;
		font-family: main !important;
	}
}

nav {
	& > ul {
		li {
			&.active {
				background: unset !important;
			}
			& > a {
				&.active {
					background: #00afab;
					color: white;
					transition: all 0.4s;
				}
			}
		}
	}
}

.loading-page {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 10px;
	height: 10px;
	background: #00afab;
	border-radius: 100%;
	z-index: 200;
}

.homepage {
	.banner {
		.btn {
			& > a {
				color: inherit;
			}
		}
	}
}

.register-btn {
	& > a { 
		color: inherit;
	}
}